/* Many elements here modelled directly on Chris Blackwell's
	CSS stylesheets for Center for Hellenic Studies Tech Pub series
*/


/* Main XHTML elements:  
*/
html {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	}

body		{	
	font-family: Georgia, Palatino, Times; 
	color: #200; 
	background: #CCCCCC;
	margin: 0px; 
	padding: 0px;
	line-height: 1.2em;
		}

#wrapper {
   	background-position: 0 0;
	margin: 30px 75px 75px 30px;
	padding: 75px 125px 125px 75px ;	
	border-right: #200 2px solid;
	border-bottom: #200 2px solid;
	border-left: #200 1px solid;
	border-top: #200 1px solid;
	background: url(paper.jpg) #fff;
	}

#report-wrapper {
   	background-position: 0 0;
	margin: 15px 32px 32px 15px;
	padding: 32px 62px 62px 32px ;	
	border-right: #200 2px solid;
	border-bottom: #200 2px solid;
	border-left: #200 1px solid;
	border-top: #200 1px solid;
	background: url(paper.jpg) #fff;
	}

	
/* Block-level elements */

#header {

	font-size: 80%;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	border-bottom: green 1px solid;
	}

#footer {

	font-size: 80%;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	border-top: green 1px solid;
	text-align : left;
	}


#navigation	{
	font-size: 80%;
	margin: 10px 0px 10px 0px;
	padding: 0px 0px 0px 0px;
	text-align : left;
	}

.alert {
        background: #DDDDDD;
        padding: 5px;
        border-top: #663366 2px solid
        width: 30%;
        margin-left:10%;
        margin-right:10%;
        margin-bottom: 1em;
    
}



.news { 
        background: #DDDDDD;
        padding: 5px;
        border-top: #663366 2px solid
        width: 30%;
        margin-left:10%;
        margin-right:10%;
        margin-bottom: 1em;
        } 
	
p	{	margin-left: 0px;
		margin-right: 0px;
		margin-top: 0px;
		margin-bottom: 1em;
	 	padding: 0px;
	 }

.columnleft	{	
			width : 45%;
			margin: 0px 0px 15px 0px;
			font-size: 80%;
			line-height: 1.1em;
		}

.columnright    {	float: right;
				margin: 1em; 0px; 15px; 0px;
				width : 45%;
			font-size : 80%;
			line-height: 1.1em;
		}
		
.attribution {		text-align: right;	
				margin-right: 3em;
				}
		
h1	 	{	font-size : 200%;
			line-height: 1.5em;
			font-weight : normal; 
}

margin-left: 0px;
		margin-right: 0px;
		margin-top: 0px;
		margin-bottom: 1em;			padding: 0px;
		}

h2		{	font-size : 120%;
			font-weight : bold; 
                  margin-left: 0px;
		margin-right: 0px;
		margin-top: 0px;
		margin-bottom: 0em;
		padding: 0px;
		}


h3		{	font-size : 100%;
			font-weight : bold;
margin-left: 0px;
		margin-right: 0px;
		margin-top: 0px;
		margin-bottom: 1em;			padding: 0px;
		}

/* List styles */

ul		{ list-style-type: circle;
margin-left: 0px;
		margin-right: 0px;
		margin-top: 0px;
		margin-bottom: 1em;		  }

ul ul	{ list-style-type: circle;
margin-left: 0px;
		margin-right: 0px;
		margin-top: 0px;
		margin-bottom: 1em;		  }
		  
ul ul ul	{ list-style-type: circle;
margin-left: 0px;
		margin-right: 0px;
		margin-top: 0px;
		margin-bottom: 1em;		  }
		  
ol		{ 
margin-left: 0px;
		margin-right: 0px;
		margin-top: 0px;
		margin-bottom: 1em;		  }	

ol ol		{ list-style-type: decimal;
   		margin-left: 0px;
		margin-right: 0px;
		margin-top: 0px;
		margin-bottom: 1em;		  }	

ol ol ol		{ list-style-type: lower-roman;
margin-left: 0px;
		margin-right: 0px;
		margin-top: 0px;
		margin-bottom: 1em;		  }	
		  
li		  { margin: 0px; 
                    margin-bottom : 0.5em;
                    line-height: 1.1em;
			}


/* Definition list styles */

dt { font-weight: bold; }

dd {margin-bottom : 1em;}


/* Table styles */

table { font-size: 100%;
		margin-left: 1em; 
		margin-right: 1em; 
		}

th	{ text-align: left;
	  padding: 10px; }

td 	{ text-align: left; 
	  padding: 10px; }





/* Character-level elements */

a	{
		text-decoration: none;
		color: green;
	}

.latin { font-style: italic; }


a:link		{	color : green;
			text-decoration : none;		
		}
a:visited 	{	color : #663366;
			text-decoration : none;		
		}
a:active	{	color : #CC3333;
			text-decoration: none;		
		}

a:hover	{	color : #CC3333;
			background-color: #edc;		
		}

/* Misc. elements */

span.gloss { background-color : #DDDD44;
              font-weight : bold;
              }


p.note  { background-color : #CCCCCC;
          margin : 1.5em;
          padding : 1.0em;}

span.manual { color : green;
              }

p.alert { border : 2px red solid;
}


p.def {
    margin-left: 2em;
}

p.sig {
    text-align : right;
    margin-right : 4em;
    font-style : italic;
}

.host {
    float: right;
}

# episteme specific
.figure {
  border: black 2px solid;
}

.figureimg {
    float: right;
}



# Thank you Google!  http://code.google.com/css/codesite.pack.01312008.css
pre{font-family:monospace;color:#007000}code{font-size:10pt}pre{font-size:9pt;background-color:#fafafa;border:1px solid #bbb;line-height:125%;margin:1em 0 0 0;padding:.99em;overflow:auto;word-wrap:break-word}form{margin:1em 0 0 0;padding:0}pre{margin:.5em 0 .6em 0}